$gutter-sides: 5vw;

// Colors are taken from Quizlet website until I develop my own color palette.

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  background-color: #F0F0F0;
}


.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  flex: 1;
  box-sizing: border-box;
}

.sidebar .container {
  margin: 3vw;
  color: #4B4F55;

  .header {
    h2 {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 600;
      padding-bottom: 12px;
      border-bottom: 1px dotted #475257;
    }

    p {
      margin: 20px 0;
      line-height: 24px;
      font-size: 14px;
    }
  }

  .progress {
    text-align: center;
    padding: 64px 0;
    background-color: white;
    margin: 36px 0;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.2);
    border-bottom: 4px solid #4558AC;

    h3 {
      font-size: 36px;
      color: #4558AC;
      margin-bottom: 0;
    }

    p {
      margin-top: 8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

main {
  flex: 4;
  box-shadow: 0 1px 10px 1px rgba(0,0,0,0.2);
  background-color: white;
  height: 100vh;
  position: relative;
}

section {
  padding: 4vw $gutter-sides;
  box-sizing: border-box;
}

section.text {
  width: 100%;
  height: calc(100vh - 2vh - 80px);
  overflow: scroll;
  box-sizing: border-box;
}

.text {
  .title {
    h1 {
      font-size: 48px;
      color: #4558AC;
    }
  }

  .body {
    margin-top: 36px;
  }

  p {
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
    margin-top: 48px;
    line-height: 96px;
    font-size: 32px;
    margin: 20px 0;

    .key-word {
      padding: 8px 12px;
      min-height: 32px;
      margin: 0 8px;
      box-sizing: border-box;
      white-space: nowrap;
      border-radius: 2px;

      -webkit-transition: background-color, padding 1s;
      -moz-transition: background-color, padding 1s;
      -o-transition: background-color, padding 1s;
      transition: background-color, padding 1s;

      &.highlighted {
        background-color: rgba(yellow, 0.2);
      }

      &.incorrect {
        background-color: rgba(red, 0.075);
      }

      &.gray {
        background-color: rgba(black, 0.025);
      }

      &.normal {
        padding: 0;
        margin: 0 6px;
      }

      &:focus {
        outline: none;
      }

      &:hover {

      }
    }
  }
}

section.module {
  bottom: 0;
  position: absolute;
  width: 80vw;
  max-height: 140px;
  background-color: white;
  padding: 2vw $gutter-sides;
  box-shadow: 0 1px 10px 1px rgba(0,0,0,0.2);
  border: none;
  background-color: #4B4F55;

  .options {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    .option {
      display: inline-table;
      border: 1px solid #BFC2C9;
      font-size: 22px;
      color: #BFC2C9;
      font-weight: 400;
      text-align: left;
      padding: 12px 32px;
      flex: 1;
      max-width: 10vw;
      border-radius: 2px;

      p {
        display: inline;

        span {
          &.key {
            color: rgba(#F0F0F0, 0.45);
            display: inline;
            float: right;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      &:hover {
        background-color: rgba(#F0F0F0, 0.1);
        color: white;
        cursor: pointer;
      }

      &:hover span.key {
        color: transparent;
      }
    }
  }
}

footer {
  background-color: #FAFAFA;
  border-top: 1px solid #8A8A8A;
  height: 80px;
  width: 100vw;
  bottom: 0;
  position: absolute;
}
