@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  background-color: #F0F0F0; }

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%; }

.sidebar {
  flex: 1;
  box-sizing: border-box; }

.sidebar .container {
  margin: 3vw;
  color: #4B4F55; }
  .sidebar .container .header h2 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 1px dotted #475257; }
  .sidebar .container .header p {
    margin: 20px 0;
    line-height: 24px;
    font-size: 14px; }
  .sidebar .container .progress {
    text-align: center;
    padding: 64px 0;
    background-color: white;
    margin: 36px 0;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #4558AC; }
    .sidebar .container .progress h3 {
      font-size: 36px;
      color: #4558AC;
      margin-bottom: 0; }
    .sidebar .container .progress p {
      margin-top: 8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 14px; }

main {
  flex: 4;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 100vh;
  position: relative; }

section {
  padding: 4vw 5vw;
  box-sizing: border-box; }

section.text {
  width: 100%;
  height: calc(100vh - 2vh - 80px);
  overflow: scroll;
  box-sizing: border-box; }

.text .title h1 {
  font-size: 48px;
  color: #4558AC; }
.text .body {
  margin-top: 36px; }
.text p {
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
  margin-top: 48px;
  line-height: 96px;
  font-size: 32px;
  margin: 20px 0; }
  .text p .key-word {
    padding: 8px 12px;
    min-height: 32px;
    margin: 0 8px;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.025);
    -webkit-transition: background-color, padding 1s;
    -moz-transition: background-color, padding 1s;
    -o-transition: background-color, padding 1s;
    transition: background-color, padding 1s; }
    .text p .key-word.highlighted {
      background-color: rgba(255, 255, 0, 0.2); }
    .text p .key-word.incorrect {
      background-color: rgba(255, 0, 0, 0.075); }
    .text p .key-word.reviewed {
      padding: 0;
      margin: 0 6px;
      background-color: white; }
    .text p .key-word:focus {
      outline: none; }

section.module {
  bottom: 0;
  position: absolute;
  width: 80vw;
  max-height: 140px;
  background-color: white;
  padding: 2vw 5vw;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #4B4F55; }
  section.module .options {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
    section.module .options .option {
      display: inline-table;
      border: 1px solid #BFC2C9;
      font-size: 22px;
      color: #BFC2C9;
      font-weight: 400;
      text-align: left;
      padding: 12px 32px;
      flex: 1;
      max-width: 10vw;
      border-radius: 2px; }
      section.module .options .option p {
        display: inline; }
        section.module .options .option p span.key {
          color: rgba(240, 240, 240, 0.45);
          display: inline;
          float: right;
          font-size: 16px;
          line-height: 24px; }
      section.module .options .option:hover {
        background-color: rgba(240, 240, 240, 0.1);
        color: white;
        cursor: pointer; }
      section.module .options .option:hover span.key {
        color: transparent; }

footer {
  background-color: #FAFAFA;
  border-top: 1px solid #8A8A8A;
  height: 80px;
  width: 100vw;
  bottom: 0;
  position: absolute; }

/*# sourceMappingURL=index.css.map */
